# Node modules
node_modules/

# Secrets and environment variables
.env
.env.*
!.env.example

# Firebase & Google Secrets
serviceAccountKey.json
firebase-service-account.json
GoogleService-Info.plist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# MacOS
.DS_Store
